html 
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
*, *::before, *::after 
{
    box-sizing: inherit;
}

header
{
    text-align: center;
}

.info
{
    font-style: italic;
}

main
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

#piano 
{
    background-color: #a46628;
    width: 493px;
    height: 290px;
    margin: 30px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    border-radius: 10px;
}

.note
{
    position: absolute;
    top: 13%;
    font-size: 42px;
    color: #fff;
    left: 46%;
}

.keys 
{
    background-color: #040404;
    width: 454px;
    height: 180px;
    padding-left: 2px;
    overflow: hidden;
}

.key 
{
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
    border-radius: 0 0 3px 3px;
}

.hints
{
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.key--sharp
{
    top: 20%;
    color: #fff;
    left: 85%;
    z-index: 3;
    font-size: 20px;
}

.keys:hover .hints
{
    opacity: 1;
}

.key.black--key::after 
{
    background-color: #1d1e22;
    content: "";
    position: absolute;
    left: 28px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
    z-index: 2;
}

.nextKey
{
    background-color: #0eff0e;
}


@media screen and (max-width: 768px) 
{
    main
    {
        display: block;
    }

    #piano {
      width: 358px;
    }
  
    .keys {
      width: 318px;
    }
}
