html 
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
*, *::before, *::after 
{
    box-sizing: inherit;
}

#piano 
{
    background-color: #00471b;
    width: 485px;
    height: 290px;
    margin: 80px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    border-radius: 10px;
}

.keys 
{
    background-color: #040404;
    width: 454px;
    height: 180px;
    padding-left: 2px;
    overflow: hidden;
}

.key 
{
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
    border-radius: 0 0 3px 3px;
}

.hints
{
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.key--sharp
{
    top: 20%;
    color: #fff;
    left: 85%;
    z-index: 3;
    font-size: 20px;
}

.keys:hover .hints
{
    opacity: 1;
}

.key.black--key::after 
{
    background-color: #1d1e22;
    content: "";
    position: absolute;
    left: 28px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
    z-index: 2;
}

@media screen and (max-width: 768px) 
{
    #piano {
      width: 358px;
    }
  
    .keys {
      width: 318px;
    }
}
